* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 968px) {
  .banner-menu {
    display: none !important;
  }
  .menuBanner_responsive {
    display: block !important;
  }
  .responsive_RightMenu {
    display: none !important;
  }
  .responsive_RightMenu {
    display: none !important;
  }
}
